 /*Define Your Custom CSS*/
 
div[xepan-component-name="Template Region"] {
     margin-top:50px;
     margin-bottom:60px;
 }
 
 .bg-dark-60 i.fa {
     color: #fff;
 }
 
 .bg-dark-60 h2,.bg-dark-60 h3,.bg-dark-60 .feature-title {
     color:#fff;
 }
 
 .btn.btn-border-w {
    color: auto;
 }
 
 .xepan-page-wrapper {
     margin-top: 51px;
 }
 
 .module, .module-small {
     padding : 50px 0;
 }
 
 .module-large {
     padding : 140px 0;
 }
.row.blog-post-content{
    width:100%;
    margin:auto;
      padding:10px;
      font-size:16px;
  }

.post-columns .xshop-item-paginator{
  text-align:center;
  font-size:16px;
}

.template-author-form input, .template-author-form textarea, .template-author-form select{
    width:100%;
}

.post-columns .xshop-item-paginator a{
    padding:4px;
}

.xepan-theme-grid h3{
    color:black;
    text-transform:uppercase;
}

.landing-image-text h2 {
    margin-top:5px;
}
.btn-free-trial h1{
    padding:0px;
    margin-bottom:10px;
    margin-top:0px;
    font-size:20px !important;
}

.gitter-chat-embed {
    z-index:1050;
}

.home-section.home-full-height.xepan-component .btn.btn-border-w.btn-round{
  background-color:white;
  border:1px solid #f3f3f3;
  color:black;
}

.property-parallax {
 position:relative;
 height:600px;
}

.printing-custom-form #front_new-printing_xepan_cms_tool_customform_form {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:15px;
}

#front_new-printing_xepan_cms_tool_customform input{
    width:100%;
}

.erp-video-section iframe{
   width:1000px;
    height:450px;
}

.pricing-table table {
  overflow: hidden;
  display:inline-block;
}

.pricing-table tr > td:nth-of-type(4){
  background-color:#669999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:25px;

}

.pricing-table tbody:nth-of-type(odd) {
  background-color:#e0ebeb;
}
  
.pricing-table tr > td{
  padding:15px;
  border:1px;
   position: relative;
 }

.pricing-table .table-heading > td {
  padding:40px;
 }
    

.pricing-table td:hover td{ 
border:2px solid red;

}

.pricing-main-heading p{
  padding:40px;
  background-color:#006699;
  color:#fff;
  font-size:36px;
  font-weight:italic;
  margin:0 !important;
}

.pricing-subheading{
  padding:10px;
}

.xprint-pricing-table tr td {
  padding:15px;
}

.xprint-pricing-table tr:nth-of-type(odd) {
  background-color:#e0ebeb;
}

.pricing-column {
  padding:0 !important;
  background-color:#eee;
}

.pricing-column table {
    width:100%;
    text-align:center;
}

.pricing-column table td:hover{
    background-color:#669999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:25px;
  color:#fff;

}

.border-blue {
  border:1px solid #25607e;
  padding:3px;
  border-radius:8px;
  background-color:#25607e;
  color:#fff;
}

.border-blue:hover{
  color:#25607e;
  background:#eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:1px solid #eee;
}

.printing-features #xepan-07e41c34-b597-4947-9490-39c57d4aa65d { 
 margin-left:0;
}

.xprint-features .features-heading .xepan-cms-column {
  padding:20px;
}

.xprint-features .features-list {
  background-color:#eee;
}

.xprint-features .features-list p, .xprint-features .features-list .xepan-cms-icon {
  padding:15px;
}

.xprint-features .features-list:nth-of-type(even){
  background-color:#e0ebeb;
}

.xprint-features .xepan-cms-column:nth-of-type(3){
  background-color:#669999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

.xprint-features .xepan-cms-column:nth-of-type(2):hover .features-list{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.xprint-features .features-list .xepan-cms-column {
  min-height:85px;
}

.xprint-features .features-heading .xepan-cms-column {
  min-height:102px;
}

