 /*Define Your Custom CSS*/
 
div[xepan-component-name="Template Region"] {
 	margin-top:50px;
 	margin-bottom:60px;
 }

 .bg-dark-60 .features-title {
     color: #fff;
 }
 
 .btn.btn-border-w {
    color: auto;
 }
 
 .xepan-page-wrapper {
     margin-top: 51px;
 }