<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="google-site-verification" content="L2nqVkO_gRnU4PG2fQuq1cjT_MsoOELoCSlXEcqg4IA">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  
    Document Title
    =============================================
    --><title>{title}Epan Services: Default title{/}</title>
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<!--  
    Favicons
    =============================================
    --><link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon.ico">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!--  
    Stylesheets
    =============================================
    
    --><!-- Default stylesheets--><link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Template specific stylesheets--><link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="assets/lib/animate.css/animate.css" rel="stylesheet">
<link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
<link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
<link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
<link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
<link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
<!-- Main stylesheet and color file--><link href="assets/css/style.css" rel="stylesheet">
<link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
<!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
    xEpan-ATK-Header-End--><script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'f9bd9af8f4c03e3a362f7537b81fe750a5a54b7f');
</script>
</head>
<body><div class="xepan-v-body">
<main class="xepan-component xepan-sortable-component ui-sortable" id="c7293a07-c5a0-4c2d-e192-42ce08174795" xepan-component-name="Main Page " style="margin-top: 30px;" scrollamount=""><nav id="007762b3-f9b3-4dbe-d86c-2802b0a508ef" style="" role="navigation" xepan-component="xepan/cms/Tool_BootStrapMenu" xbootmenu-align="right" class="navbar xepan-component  navbar-fixed-top navbar-inverse"><div xepan-component="xepan/cms/Tool_Container" class="container xepan-component" id="12134538-ca14-4449-d9df-23cb14e1010f">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <div class="navbar-brand-wrapper navbar-brand" style="padding: 5px"><a title="Brand Name" href="index" class="xepan-brand"><img src="images/logo-small.png" width="150px"></a></div>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul id="xepan-boostrap-ul" class="nav navbar-nav navbar-right">
<li><a href="index">Home</a></li>
<li><a href="web">WebBuilder</a></li>
<li><a href="ecommerce">Online Store</a></li>
<li><a href="erp">CRM/ERP</a></li>
<li><a href="blog">Blog</a></li>
<li><a href="forum">Forum</a></li>
<li><a href="http://documentation.epan.in" target="_blank">Documentation</a></li>
<li><a href="login">Sign In</a></li>
</ul>
</div>
    <script>
      $(document).ready(function(){
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-toggle').dropdown();
      	
      	$('#94873711__pan_cms_tool_bootstrapmenu .dropdown-submenu a').on("click", function(e){
      	    $(this).next('ul').toggle();
      	    e.stopPropagation();
      	    e.preventDefault();
      	});
      });
    </script>
</div>
</nav><div class="page-loader" style="display: none;">        <div class="loader" style="display: none;">Loading...</div>
    </div>

    <div xepan-component-name="Template Region" class="xepan-component xepan-page-wrapper" id="ac135c0c-f2be-4c6a-ec3b-82167aec2ee6">{$Content}</div>
</main><section class="module-extra-small bg-dark xepan-component" xepan-component-name="Dark Header Ribben" id="46dd2afa-30d8-4153-cf21-83a89639d7fb"><div class="container xepan-sortable-component ui-sortable xepan-sortable-extra-padding">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9 xepan-component xepan-sortable-component ui-sortable" id="2315fbf1-d843-45f6-db4d-f8a4b9e7d29d">
          <div class="callout-text font-alt">
            <h4 style="margin-top: 0px; font-;" class="xepan-component xepan-editable-text xepan-no-richtext" id="f4b8694a-0d7a-46c5-bda3-d1cc8ed8d48b" contenteditable="false">Start Creating &amp; MANAGING Beautiful Websites/Stores/Businesses<br>
</h4>
            <p style="margin-bottom: 0px;" class="xepan-component xepan-editable-text xepan-no-richtext" id="4eaae251-8430-40ea-ea03-1424a27f1c98" scrollamount="" contenteditable="false"><a href="contact-us">contact us</a> | <a href="terms-and-condition">Terms and conditions</a> | <a href="agency">affiliates</a><br></p>
          </div>
        <div id="6c2354a6-a802-4e23-cb95-32fd0457d563" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body callout-text font-alt" style="position: relative;" scrollamount="" data-extra-classes="callout-text font-alt" contenteditable="false"><p><a href="ourstory" data-mce-href="ourstory">OUR STORY</a> | <a href="official-template-authors" data-mce-href="official-template-authors">OFFICIAL TEMPLATE authors </a> | <a href="career" data-mce-href="career">JOBS</a> | <br></p></div>
</div>
        <div class="col-sm-6 col-md-4 col-lg-3 xepan-component xepan-sortable-component ui-sortable" id="91798f7c-a74b-42c4-9c6e-35a310d2ee2b">
          <div class="callout-btn-box">
            <a target="" id="f5ccadd5-7491-42f1-b9e1-6a4e5afc97b0" class="btn btn-border-w btn-circle section-scroll xepan-component custom-btn-links xepan-button btn-default" href="login" data-button-icon-class="" data-icon-position="left" xepan-button-label="FREE 14 DAYS TRIAL" xepan-button-link="login" xepan-button-link-behavior="0" xepan-component="xepan/cms/Tool_Button" scrollamount=""><i class="fa "></i> FREE 14 DAYS TRIAL</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
<p>
{after_body_code}<!-- after body code here -->{/}
</p>
</html>
