<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<meta name="author" content="Epan Services">
<meta name="google-site-verification" content="L2nqVkO_gRnU4PG2fQuq1cjT_MsoOELoCSlXEcqg4IA">
<title>{title}xEpan CMS{/}</title>
<!--xEpan-ATK-Header-Start
    {$js_block}
    {$js_include}
    <script type="text/javascript">
      $(function(){
        {$document_ready}
      });
    </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    xEpan-ATK-Header-End--><script type="text/javascript">
        $(function(){
          $('body').on('beforeSave',function(event, ui){
            $('.animated').removeClass('animated');
          });
        });
    </script><!-- <link href="css/bootstrap.min.css" rel="stylesheet"> --><link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/prettyPhoto.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link rel="shortcut icon" href="images/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body class="homepage">
<heade http-equiv="Content-Type" content="text/html;charset=UTF-8" id="header"><div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12" style="color:#ffffff;">
                        <div id="764edaf4-8eba-4ce5-ba03-78b4fd2c6204" style="display:none" class="xepan-component xepan-serverside-component" layout="micro_login" show_micro_login="true" xepan-component="xepan/base/Tool_UserPanel"></div>
                    </div>
						
                    <div class="col-sm-4 col-md-4 col-xs-12">
                    </div>
                </div>
            </div>
<!--/.container-->
        </div>
<!--/.top-bar-->
        <nav class="navbar navbar-inverse"><div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#xepan-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="index" style="padding:0!important; margin-bottom: 4px !important;"><span><img src="images/logo.png" alt="Epan Services" style="width: 35px;">Epan Services</span></a>
              <!-- <div class = "col-md-12">
                        <div class = "col-md-3">
                        </div>

                        <div class = "col-md-9">
                          <div>
                              <h1>xEpan</h1>
                          </div>
                        </div>

                </div> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
            <div id="xepan-navbar-collapse-1" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
<li class=""><a href="index">Home</a></li>
                    <li class=""><a href="erp-with-e-commerce-features">Features</a></li>
                  <!--  <li class=""><a href="pricing">Pricing</a></li> -->
                    <li class="dropdown"><a href="http://www.documentation.epan.in" target="_blank">Documentation</a></li>
                    <li class=""><a href="blog">Blog</a></li> 
                   <!-- <li class=""><a href="myepans">My Epans</a></li> -->
					<li class=""><a href="forum">Forum</a></li> 
                </ul>
</div>
        </div>
<!--/.container-->
    </nav><!--/nav--><!--/header--><div class="xepan-component xepan-page-wrapper" id="ac135c0c-f2be-4c6a-ec3b-82167aec2ee6">{$Content}</div>
    <section id="bottom"><div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: fadeInDown;">
            <div class="row xepan-component xepan-sortable-component ui-sortable" xepan-component="xepan/cms/Tool_Columns" id="9b42c428-9dd2-4c82-cf7c-887d7e2443a9">
                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
<!-- <li><a href="about-us">About us</a></li> --><!-- <li><a href="we-are-hiring">We are hiring</a></li> --><li><a href="meet-our-team">Meet the team</a></li>
                            <!-- <li><a href="copyright">Copyright</a></li> -->
                            <li><a href="terms-and-condition">Terms of use</a></li>
                            <li><a href="privacy-policy">Privacy policy</a></li>
                            <li><a href="contact-us">Contact us</a></li>
                        </ul>
</div>    
                </div>
<!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
<li><a href="faq">Faq</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="https://groups.google.com/forum/#!forum/xepan" target="_blank">Forum</a></li>
                            <li><a href="http://www.documentation.epan.in" target="_blank">Documentation</a></li>
                            <!-- <li><a href="ticket-system">Ticket System</a></li> -->
                        </ul>
</div>    
                </div>
<!--/.col-md-3-->

                <div class="col-md-2 col-sm-6">
                    <div class="widget">
                        <h3>Events</h3>
                        <ul>
<li><a href="funding-angels">ERP Funding</a></li>
                        <li><a href="agency">Agency</a></li>
</ul>
</div>
                </div>
<!--/.col-md-3-->

                <div class="col-sm-6 xepan-component xepan-sortable-component ui-sortable col-lg-6 col-md-6" xepan-component="xepan/cms/Tool_Column" id="bbe5f98e-5026-4b3b-ddf9-86d9d529d4b7" data-lg="6" data-md="6" scrollamount="">
                    <div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; margin-right: auto; margin-left: 0px; margin-bottom: 5px; padding-top: 1%;" class="row xepan-component" id="86ceb977-0d16-46cf-c948-65cb222c71f3" scrollamount="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="5" data-md="4" data-sm="12" data-xs="12" class="xepan-cms-column col-md-4 col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-5 current-row-column-selected" id="b4df2908-5d68-4af2-b419-1216a6fe1fdc"><div id="4b11cf40-8787-4319-96eb-c558045c6410" xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative; padding-top: 10%;" scrollamount="" contenteditable="false"><h3>Parent Company<br>
</h3></div></div>
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="7" data-md="7" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-7 col-md-7" id="8623a61a-e17b-4c1a-c584-9c186a955a8b"><div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; margin-left: auto; margin-right: auto;" class="row xepan-component" id="a061da42-e6a4-46e0-f561-27679ec73953">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6" id="7b829b19-6337-4ce1-b9f9-15646e27fffc"><a href="http://xavoc.com" id="abdda0f0-494e-4333-9724-584c74594011" xepan-component="xepan/cms/Tool_Image" class="xepan-component"><img src="images/XavocTechnocratsLogoSmall.png" style="width: 100%;" data-extra-classes="" alt="Image" class="ui-resizable"></a></div>
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="6" data-md="6" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-6 col-md-6" id="d274d91c-a644-42b5-dd4c-e9ae35085c15" scrollamount=""><div id="61866c9a-671e-4054-96da-f2f124fd83a4" xepan-component="xepan/cms/Tool_Image" class="xepan-component"><img src="images/iso-logo.png" style="max-width: 100%; height: 100%; width: 60%;" data-extra-classes="" alt="Image" class="ui-resizable"></div></div>
</div></div>
</div>
<div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; margin-right: auto; margin-left: auto; padding-bottom: 0%; padding-top: 2%;" class="row xepan-component" id="add29fda-bd91-4a1e-eb5c-5a0e9e0b6173" scrollamount="">
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="5" data-md="4" data-sm="12" data-xs="12" class="xepan-cms-column col-md-4 col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-5" id="7db325e4-3d4d-42c5-f50f-0991f2e6023e"><div xepan-component="xepan/cms/Tool_Text" emptytext="Edit this text" class="xepan-component xepan-editable-text mce-content-body" style="position: relative; padding-top: 3%;" scrollamount="" id="1544b5eb-1a63-4aa9-a36f-1b56f436e309" contenteditable="false"><h3>Hosting Partner<br>
</h3></div></div>
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="7" data-md="7" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-7 col-md-7" id="b1eabbb9-5424-4e85-8428-8b3d7aa39c36"><div xepan-component="xepan/cms/Tool_Columns" style="min-height: 20px; margin-left: auto; margin-right: auto;" class="row xepan-component" id="a650189e-b38d-4959-e87f-dba289bd41c0">
  
  <div xepan-component="xepan/cms/Tool_Column" emptytext="Column 4" data-toolcolumnclass="xepan-tool-column" data-lg="12" data-md="12" data-sm="12" data-xs="12" class="xepan-cms-column col-sm-12 col-xs-12 xepan-sortable-component xepan-component ui-sortable col-lg-12 col-md-12" id="c9a7d0ad-a0b4-4944-ed89-1384ddcf2094"><a href="http://css4hosting.com" xepan-component="xepan/cms/Tool_Image" class="xepan-component" id="2fdd16a7-1f2b-4e7a-c119-e41802867af9"><img src="images/css4hosting-logo.png" style="width: 100%;" data-extra-classes="" alt="Image" class="ui-resizable"></a></div>
  
</div></div>
</div>
    
                </div>
<!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom--><footer id="footer" class="midnight-blue"><div class="container">
            <div class="row">
                <div class="col-sm-6">
                    © 2016 <a target="_blank" href="http://xepan.org/" title="Wish Anything">xEpan</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
<li><a href="index">Home</a></li>
                        <!-- <li><a href="about-us">About Us</a></li> -->
                        <li><a href="faq">Faq</a></li>
                        <li><a href="contact-us">Contact Us</a></li>
                      <!--  <li><a href="login">Login/Register</a></li> -->
                    </ul>
</div>
            </div>
        </div>
    </footer><!--/#footer--><!-- <script src="js/bootstrap.min.js"></script> --><script src="js/jquery.prettyPhoto.js" style=""></script><script src="js/jquery.isotope.min.js" style=""></script><script src="js/main.js" style=""></script><script src="js/wow.min.js" style=""></script><script style="">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29868651-1', 'auto');
      ga('send', 'pageview');

    </script><style type="text/css" style="">
        .navbar-nav > li {
            padding: 5px!important;
        }
    </style></heade>
</body>
</html>
