<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
    <div class = "col-md-12">
    	{$Name}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Email}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Contact_No}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Message}
	</div>
</div>
{$Content}
<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$FormButtons}
	</div>
</div>


<style type="text/css">
   .col-md-12 input{
 		width: 100% !important;   	
    }

    .col-md-12 textarea{
 		width: 100% !important;   	
    }

    .col-md-12 button{
 		width: 100% !important;
 		background: #c52d2f none repeat scroll 0 0;
    	border: medium none;
    	border-radius: 4px;
    	color: #fff;
    	margin-top: 10px;
    	padding: 8px 20px;   	
    }

</style>