<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Name}
	</div>
</div>

<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Email}
	</div>
</div>

<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Contact_No}
	</div>
</div>

<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Message}
	</div>
</div>

<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$FormButtons}
	</div>
</div>


<style type="text/css">
   .col-md-12 input{
 		width: 100% !important;   	
    }

    .col-md-12 textarea{
 		width: 100% !important;   	
    }

    .col-md-12 button{
 		width: 100% !important;   	
    }
</style>