<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Your Name<span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Name}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Content Link <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Content_Link}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Email Address <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Email}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Company Name <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Company}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Your Position in Company <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Your_Position}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Company Website <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Company_Website}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Company Address <span style="color:red;"> *</span></strong>
	</div>
	<div class = "col-md-12">
		{$Company_Address}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		<strong>Message</strong>
	</div>
	<div class = "col-md-12">
		{$Message}
	</div>
</div>

<div class = "row atk-form-row atk-form-field" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$Content}
	</div>
</div>

<div class = "row" style= "margin-top:4px;margin-bottom:4px;">
	<div class = "col-md-12">
		{$FormButtons}
	</div>
</div>


<style type="text/css">
   .col-md-12 input{
 		width: 100% !important;   	
    }

    .col-md-12 textarea{
 		width: 100% !important;   	
    }

    .col-md-12 button{
 		width: 100% !important;
 		background: #c52d2f none repeat scroll 0 0;
    	border: medium none;
    	border-radius: 4px;
    	color: #fff;
    	margin-top: 10px;
    	padding: 8px 20px;   	
    }

</style>