<div id="{$_name}" class="xepan-grid main-box clearfix {$class}">
  <div class="page-header"> 
    <div class="row">
      {header}{cols}{col}{/}{/}{/}
      {rows}{row}{cols}
      <div data-id="{$id}" class="{$odd_even} col-md-{col-width}4{/}">
        <div class="recent-work-wrap"><img src="{$first_image}" alt="" onerror1="this.src='vendor/xepan/commerce/templates/view/tool/cart/images/not-found.png'" class="img-responsive"/>
          <div class="overlay">
            <div style="height:100%;" class="recent-work-inner text-center">
              <h3 style="height: 80px;"><a href="#">{$name}</a></h3>
              <a href="myepans"><div style="border:1px solid white;" data-id="{$id}" class="btn btn-block btn-lg xepan-change-template">Apply</div></a><a href="https://{$sku}.epan.in" target="_blank" rel="Template Preview" class="preview">
                <div class="btn i fa fa-eye">View</div></a>
                {specification_wrapper}
                        {specification}
                        {rows}{row}
                        <div class="col-md-6">
                            {$name}
                        </div>
                        <div class ="col-md-6">    
                            {$value}
                        </div>        
                        {/}{/}
                        {/specification}
                {/}
                {$Addtocart}
            </div>
          </div>
        </div>
      </div>{/}{/}{/}
      {not_found}
      <div class="row">
        <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
      </div>{/}
      {totals}{cols}{col}{$content}{/}{/}{/}
    </div>{$Paginator}
  </div>
</div>